node_modules
.DS_Store
dist/
coverage
npm-debug.log
doc
deployment.json
src/config/env.json
*.class
/TestIntegration/target/**
yarn.lock
test.log
yarn-error.log
web.config
src/_version.js
out
.vs
package-lock.json